html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --primary: #102fa1;
  --secondary: #001253;
  --black: #181a20;
  --black75: rgba(24, 26, 32, 0.75);
  --black50: rgba(24, 26, 32, 0.5);
  --black25: rgba(24, 26, 32, 0.25);
  --black10: rgba(24, 26, 32, 0.1);
  --black5: rgba(24, 26, 32, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--black);
}

h1 {
  font-size: 55px;
  line-height: 112px;
}

h2 {
  font-size: 44px;
  line-height: 80px;
}

h3 {
  font-size: 35px;
  line-height: 64px;
}

h4 {
  font-size: 28px;
  line-height: 48px;
}

h5 {
  font-size: 22.5px;
  line-height: 40px;
}

h6 {
  font-size: 18px;
  line-height: 32px;
}

p {
  font-size: 18px;
  line-height: 32px;
}

.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: calc(100% - 32px);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 96px 0;
  border-bottom: 1px solid var(--black25);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
    line-height: 72px;
  }

  h2 {
    font-size: 32px;
    line-height: 64px;
  }

  h3 {
    font-size: 28px;
    line-height: 56px;
  }

  h4 {
    font-size: 24px;
    line-height: 48px;
  }

  h5 {
    font-size: 20px;
    line-height: 40px;
  }

  h6 {
    font-size: 16px;
    line-height: 32px;
  }

  p {
    font-size: 16px;
    line-height: 32px;
  }
}
