.container {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    width: calc(100% - 2rem);
    max-width: 500px;
    color: var(--black75);
  }
}

@media screen and (min-width: 800px) {
  .container {
    p {
      width: 80%;
      max-width: none;
    }
  }
}
